.todo-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo-card {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
    background-color: #ffe2e2b9;
}
